{
  "presets": [
    "@babel/stage-3",
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-react-jsx-source"
  ]
}